<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true" class="sidenav">
    <md-button ng-click=""> Flat link </md-button>
    <md-button href="http://google.com"> Flat link </md-button>
    <md-button href="http://google.com"> Flat link </md-button>
    <md-button href="http://google.com"> Flat link </md-button>
    <md-button href="http://google.com"> Flat link </md-button>
  </md-sidenav>

  <md-content layout="column">
    <md-button ng-click="again()">Welcome home {{ $ctrl.user().uid }}</md-button>
  </md-content>


</div>
